
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

.App {
    text-align: center;
    /* width: 100vw; */
    width: auto;
    margin: 0 auto;
    height: 100vh;
}

.Test {
    
    /* background: url('./weather.png') 0/cover; */
    /* width: 950px; */
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
/* .App  .Weather {

    display: -webkit-inline-flex;
    display: inline-flex;
    margin: 5px 15px;
} */
@media (max-width: 500px) {
    .App {
        width: auto ;
        height: auto;
        padding: 20px 0;
        text-align: center;
        margin: 0;
    }
 
    
}

