.Weather {
    box-shadow: 50px solid #141414;
    border: 3px solid #ad9393;
    background: url('back.png') 0/cover;
    width: 500px;
    height: auto;
    margin:  0 auto;
    display: flex;

    flex-direction: row;
}

.Weather > ul {
    flex-direction: row;
}
.Weather li ,p {
    font-size: 20px;
    color: rgba(131, 5, 5, 0.87);
    list-style-type: none;
    font-weight: bold;
}
.Weather p {
    /* float: left; */
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 500px) {
    .Weather {
        width: auto;
        height: auto;
        margin: 0 auto;
    }
}