.Weather {
    box-shadow: 50px solid #141414;
    border: 1px solid #ebdfdf;
    width: 500px;
    height: auto;
    margin:  0 auto;
    /* display: flex; */
    
}

.Weather > ul {
    flex-direction: row;
}
.Weather li ,p {
    font-size: 20px;
    color: rgb(102, 102, 201);
    list-style-type: none;
    font-weight: bold;
}
.Weather p {
    /* float: left; */
    display: flex;
    justify-content: flex-start;
}

@media (max-width: 500px) {
    .Weather {
        width: auto;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .Weather li ,p {
        font-size: 20px;
        color: rgb(102, 102, 201);
        list-style-type: none;
        font-weight: bold;
    }
}