.Footer {
    margin: 0 auto;
    height: 50px;
    background-color: rgb(102,102,201);
   width: 1200px  
}

.Footer > p , a {
    color: white;
    line-height: 50px;
    font-size: 20px;
}

 
@media (max-width: 500px) {
    .Footer {
    width: 100%;;
      margin: 0 auto;
    }

    .Footer > p {
        font-size: 15px;
    }
}