.Footer {
    margin: 0 auto;
    height: 50px;
    background: url('./weather.png') 0/ cover;
    width: 100%;    
}

.Footer > p , a {
    color: white;
    line-height: 50px;
    font-size: 20px;
}

 
@media (max-width: 500px) {
    .Footer {
    
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: auto;
    }

    .Footer > p {
        font-size: 15px;
    }

    .Footer > p , a {
        color: white;
        /* line-height: 50px; */
        font-size: 10px;
    }
}