
body {
    box-sizing: border-box;
    height: 100vh;
    padding: 0;
    margin: 0 ;
}

.App {
    
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    
}
.App .Weather {
    display: -webkit-inline-flex;
    display: inline-flex;
    margin: 5px 5px;
}
@media (max-width: 500px) {
    .App {
        width: 500px;;
        height: auto;
        padding: 20px 0;
        text-align: center;
        margin: 0;
    }
    .App .Weather {
        display: -webkit-flex;
        display: flex;
    }
}@media (max-width: 900px) {
    .App {
        width: 500px;;
        height: auto;
        padding: 20px 0;
        text-align: center;
        margin: 0;
    }
    /* .App .Weather {
        display: -webkit-flex;
        display: flex;
    } */
}
