
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

.App {
    text-align: center;
    /* width: 100vw; */
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

.test {
    height: auto;
    background: url('weather.png') 0/cover;
    width: 1000px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.App  .Weather {

    display: -webkit-inline-flex;
    display: inline-flex;
    margin: 5px 15px;
}
@media (max-width: 500px) {
    .App {
        width: 100% ;
        height: auto;
        padding: 20px 0;
        text-align: center;
        margin: 0;
    }
    .App .Weather {
        display: -webkit-flex;
        display: flex;
        width: 100%;
        margin: 0;
        height: 220;
    }

}
@media (max-width: 960px) {
    .App {
        /* width: 100vw; */
        height: 100vh;
        padding: 20px 0;
        text-align: center;
        margin: 0 auto;
        /* margin: 0 auto; */
    }
   
  
}
